@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jacquard+24&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
    --bgcolor-primary: #000000;
    --font-color:#ffffff;
    --border-color: #000000;
    --bgcolor-secondary: #1d1d1d;

}
*{ 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif; 
}



/* estilos modo celu */
/* .screen-chat{

    height: 600px;
    width: 400px;
    background-image:  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaZrnzmWOEpkD9QdxEWyyr1nwgM-KUAMWKvQ&s); 
     
    border: 5px solid var(--bgcolor-primary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    justify-content: center;
    align-items: center;
    

}
 */

.chat-contact-desk{

    height:843px;
    max-width: 2000px;
    background-color: rgb(146, 45, 45);
   /*  border: 5px solid var(--bgcolor-primary); */
    display: flex;
    flex-direction: row;

    overflow: hidden;
    justify-content: space-between;
    align-items: start;
    

}



/* desktop */
.screen-chat{

    height: 100%;
    width:80%;
    background-image:  url(https://cloudfront-eu-central-1.images.arcpublishing.com/diarioas/7L3CG752LVMWBPX75F4W3Y7QGI.jpg);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: start;
    align-items: center;
    

}


/* estilos para desktop */

/* @media screen and (min-width: 1000px) {
    .screen-chat{
        display: flex;
    }
   
}
 */