@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jacquard+24&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --bgcolor-primary: #000000;
    --font-color:#ffffff;
    --border-color: #000000;
    --bgcolor-secondary: #1d1d1d;
    --bgcolor-chat-izq: #1d1d1d;
    --bgcolor-chat-der: #0f5515;
}


*{ 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}



body{
     background-color: #7e7e7e;
/*     display: flex;
    flex-direction: row; */
  /*   justify-content: center;
    align-items: center;  */
  

}

.contact-screen{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
  /*   border: 5px solid var(--bgcolor-primary); */
 /*    padding: 10px; */
   gap:10px;
    background-color:  var(--bgcolor-primary);
    height:100%;
    width: 40%;
}


/* .contact-screen{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 5px solid var(--bgcolor-primary);
    border-radius: 20px;
    padding: 10px;
    gap:10px;
    background-color:  var(--bgcolor-primary);
    height:80%;
    width: 100%;
}
. */

 .titulos-contactos{
    font-size: 18px;
    font-weight: bold;
    color:var(--bgcolor-primary);
   
    } 
    
.string{
    text-align: center;
    font-size: 12px;
    color:var(--font-color);

}
.contactos-header{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap:10px;
    width: 100%;
    }
    
.contacts{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--bgcolor-primary);
    padding: 10px;
    gap:15px;
    overflow-y: scroll;
    margin: 0px 20px 10px 10px;

}


.container-opciones{
display: flex;
flex-direction: row;
width: 100%;

}
.input-buscar{
    border: 2px;
    width: 100% ;
    height: 30px;
    border-radius: 15px;
    background-color:var(--bgcolor-secondary);
    text-indent: 10px;
    font-weight: bold ;
    color:var(--font-color);
    

}

.contacts::-webkit-scrollbar {
    width: 8px; 
}

.contacts::-webkit-scrollbar-track {
    background: var(--bgcolor-primary); 
    border-radius: 4px;
}

.contacts::-webkit-scrollbar-thumb {

    background-color: var(--font-color);
    border-radius: 4px; 
}

.contacts::-webkit-scrollbar-thumb:hover {
    background-color:var(--bgcolor-secondary); 

}

.photos{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    
}

.myprofile-photo{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    margin: 10px;
    
}

.contact-cont{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding:5px;
  /*   border-radius:20px; */
    background-color:var(--bgcolor-primary);
    width: 100%;
    height:auto;
    border-bottom: 1px solid var(--bgcolor-secondary) ;
}

.contacto-mje-nombre{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 5px;
    height: auto;
    width: 100%;
    padding: 5px;


}
.contacto-data{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px;
gap: 10px;
height: 80%;
width: 80%;
}


.mensaje-cont{
font-size: 90%;
padding: 3px;
color: var(--font-color);
}

.nombre-cont{
padding: 3px;
width: 100%;
height: 100%;
font-size: 100%;
border-radius:20px;
font-weight: bold;
color:var(--font-color);
}


.hour{
padding: 5px;
font-size: 85%;
color:var(--font-color);
}

.icons-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bgcolor-secondary);
    width: 100%;
    height: 80px;
    border-right:1px solid #5c5c5c ;
}

.icons-fns-left{
padding-right: 5px;
}



.punto{
    color:var(--font-color);
    background-color: var(--bgcolor-secondary);
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    
}

.add{
    color:var(--font-color);
    padding: 5px;
    background-color: #0f5515;
    border-radius: 100%;

}


@media screen and (max-width: 1000px) {
    .contact-screen{
        width: 100%;
    }
    .titulos-contactos{
    color:var(--font-color);
    }
    .screen-chat{
        display: none;
    }
}
